<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FitLife</display-name>
  <welcome-file-list>
    <welcome-file>Accueil.jsp</welcome-file>
    <welcome-file>Journee.jsp</welcome-file>
    <welcome-file>MesJournee.jsp</welcome-file>
    <welcome-file>Seances.jsp</welcome-file>
    <welcome-file>Profil.jsp</welcome-file>
    <welcome-file>Compte.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>C_Accueil</servlet-name>
    <servlet-class>controller.C_Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Accueil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Journee</servlet-name>
    <servlet-class>controller.C_Journee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Journee</servlet-name>
    <url-pattern>/Journee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_MesJournees</servlet-name>
    <servlet-class>controller.C_MesJournees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_MesJournees</servlet-name>
    <url-pattern>/MesJournees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Seance</servlet-name>
    <servlet-class>controller.C_Seance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Seance</servlet-name>
    <url-pattern>/Seances</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Profil</servlet-name>
    <servlet-class>controller.C_Profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Profil</servlet-name>
    <url-pattern>/Profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Compte</servlet-name>
    <servlet-class>controller.C_Compte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Compte</servlet-name>
    <url-pattern>/Compte</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Connexion</servlet-name>
    <servlet-class>controller.C_Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C_Inscription</servlet-name>
    <servlet-class>controller.C_Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C_Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <include-prelude>/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>